/node_modules
/public/build
/public/hot
/public/storage
/storage/app/*
!/storage/app/.gitignore
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/vendor
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
*.log
.DS_Store
Thumbs.db
